html{
    background-color: red;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: gray;
}

/******************** HEADER ***************/
.flex-container{
    display: flex;
}

header{
    background-color: pink;
    height: 10vh;
    min-height: 50px;
    width: 100vw;
}

.header-flex{
    justify-content: flex-end;
    align-items: center;
}

.header-flex > div{
    padding: 10px;
    text-align: end;
}
/********************************************/

/******************** MAIN ***************/
main{
    background-color: yellow;
    height: 120vh;
    min-height: 650px;
    width: 100vw;
}

.main-flex{
    justify-content: center;
    align-content: center;
}

/******************** MAIN -> FORM ***************/
.form-container{
    background-color: brown;    
    margin-top: 10vh; 
    width: 450px; /*30%*/
    /* max-width: 450px;  */
    min-width: 400px;
    height:fit-content;  
}
.pre-form-container{    
    flex-direction: column;
}

.title-form-img{    
    justify-content: center;
    align-content: center;
}

.brands-form{
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;        
}



.form-content-container > h1{
    padding-top: 20px; 
    padding-bottom: 20px; 
    text-align: center;
    font-size: 30px;    
}

.form-content-container > h4{
    padding-left: 45px; 
    padding-right: 45px; 
    text-align: center;
    font-size: 18px;   
    padding-bottom: 20px;  
}

.highlight-text{
    text-align: center;
   
    color: rgb(44, 76, 182);  
    cursor: pointer;
}

.highlight-text:hover{
    text-decoration: underline;
}

.form-data{
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
    /**/
}

.form-data > input{
    width: 100%;
    height: 32px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px gray;
}

#phone{
    margin-bottom: 0;
}

.form-data > label{
    font-size: 20px;
}

.phone-text{
    font-size: 12px;
}


.form-data > button{
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: rgb(29, 95, 172);
    border-radius: 3px;
    color: white;
    font-size: 20px;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.privacy-statement-text{
    
    width: 65%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
}

.recaptcha-text{
    padding: 30px;
    font-size: 13px;
    text-align: center;
    background-color: gray;
}


/******************** END / MAIN -> FORM **********/

/******************** END / MAIN  ***************/

/******************** FOOTER ***************/


footer{
    background-color: blue;
    height: 10vh;
    min-height: 50px;
    width: 100vw;
}